:root {
  /* Colors */
  --primary: #0085ad;
  --secondary: #e80;
  --gray: #345;
  --light-gray: #d7d7d7;

  /* Font */
  --font: "Nunito Sans", sans-serif;
  --shadow: 0 4px 8px rgba(30, 60, 90, 0.2);
  --light-shadow: 0 2px 4px rgba(30, 60, 90, 0.1);
  --strong-shadow: 0 6px 12px rgba(30, 60, 90, 0.2);
}

// scss-variables
$size-app-max-width: 1000px;